In [1]:
import numpy as np
import pandas as pd
import glob
from functools import reduce

In [117]:
### Собираем в одну мега-табличку всё

In [118]:
df_main = pd.read_csv("data_csv/human-rights-index-vdem.csv")
df_main.rename(columns={"Civil liberties index (best estimate, aggregate: average)": "Civil liberties index"}, inplace=True)

df_extra = pd.read_csv("data_csv/tax-revenues-as-a-share-of-gdp-unu-wider.csv")
df_extra.columns
df_extra = df_extra[["Entity", "Year", "Taxes including social contributions (as a share of GDP)"]]
df_extra.rename(columns={"Taxes including social contributions (as a share of GDP)": "Taxes (% GDP)"}, inplace=True)

df_merged = pd.merge(df_main, df_extra, on=["Entity", "Year"], how="left")
df_merged.head()

        Entity Code  Year  Civil liberties index  Taxes (% GDP)
0  Afghanistan  AFG  1789                  0.112            NaN
1  Afghanistan  AFG  1790                  0.112            NaN
2  Afghanistan  AFG  1791                  0.112            NaN
3  Afghanistan  AFG  1792                  0.112            NaN
4  Afghanistan  AFG  1793                  0.112            NaN

In [119]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/gdp-per-capita-worldbank.csv")
df_new = df_new[["Entity", "Year", "GDP per capita, PPP (constant 2021 international $)"]]
df_new.rename(columns={"GDP per capita, PPP (constant 2021 international $)": "GDP/capita, $"}, inplace=True)
df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

        Entity Code  Year  Civil liberties index  Taxes (% GDP)  GDP/capita, $
0  Afghanistan  AFG  1789                  0.112            NaN            NaN
1  Afghanistan  AFG  1790                  0.112            NaN            NaN
2  Afghanistan  AFG  1791                  0.112            NaN            NaN
3  Afghanistan  AFG  1792                  0.112            NaN            NaN
4  Afghanistan  AFG  1793                  0.112            NaN            NaN

In [120]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/population.csv")
df_new = df_new[["Entity", "Year", "Population - Sex: all - Age: all - Variant: estimates"]]

df_new.rename(columns={"Population - Sex: all - Age: all - Variant: estimates": "Population"}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN

In [121]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/mean-years-of-schooling-long-run.csv")
df_new = df_new[["Entity", "Year", "Combined - average years of education for 15-64 years male and female youth and adults"]]

df_new.rename(columns={"Combined - average years of education for 15-64 years male and female youth and adults": "Average years of education"}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN

In [122]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/meat-consumption-vs-gdp-per-capita.csv")
df_new = df_new[["Entity", "Year", "Meat, total | 00002943 || Food available for consumption | 0645pc || kilograms per year per capita"]]

df_new.rename(columns={"Meat, total | 00002943 || Food available for consumption | 0645pc || kilograms per year per capita": "Meat, kg/year/capita"}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita"
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN

In [123]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/deaths-in-armed-conflicts-based-on-where-they-occurred.csv")
df_new = df_new[["Entity", "Year", "Deaths in ongoing conflicts in a country (best estimate) - Conflict type: all"]]

df_new.rename(columns={"Deaths in ongoing conflicts in a country (best estimate) - Conflict type: all": "Deaths in ongoing conflicts"}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN

In [124]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/child-mortality-rate.csv")
df_new = df_new[["Entity", "Year", "Observation value - Indicator: Under-five mortality rate - Sex: Total - Wealth quintile: Total - Unit of measure: Deaths per 100 live births"]]

df_new.rename(columns={"Observation value - Indicator: Under-five mortality rate - Sex: Total - Wealth quintile: Total - Unit of measure: Deaths per 100 live births": "Child deaths per 100 live births"}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,Child deaths per 100 live births
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/gdp-worldbank.csv")
df_new.columns

Index(['Entity', 'Code', 'Year', 'GDP, PPP (constant 2021 international $)'], dtype='object')

In [126]:
df_new = df_new[["Entity", "Year", "GDP, PPP (constant 2021 international $)"]]

df_new.rename(columns={"GDP, PPP (constant 2021 international $)": "GDP"}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,Child deaths per 100 live births,GDP
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/economic-inequality-gini-index.csv")
df_new.columns

Index(['Entity', 'Code', 'Year', 'Gini coefficient', '990179-annotations'], dtype='object')

In [128]:
df_new = df_new[["Entity", "Year", "Gini coefficient"]]

df_new.rename(columns={"Gini coefficient": "Inequality Index"}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,Child deaths per 100 live births,GDP,Inequality Index
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/your-age-compared-to-the-world-median-age.csv")
df_new.columns

Index(['Entity', 'Code', 'Year',
       'Median age - Sex: all - Age: all - Variant: estimates',
       'Median age - Sex: all - Age: all - Variant: medium'],
      dtype='object')

In [130]:
df_new = df_new[["Entity", "Year", "Median age - Sex: all - Age: all - Variant: estimates", "Median age - Sex: all - Age: all - Variant: medium"]]

df_new.rename(columns={"Median age - Sex: all - Age: all - Variant: estimates": "Median Age estimates", "Median age - Sex: all - Age: all - Variant: medium": "Median Age medium"}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,Child deaths per 100 live births,GDP,Inequality Index,Median Age estimates,Median Age medium
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [131]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/life-expectancy.csv")
df_new.columns

Index(['Entity', 'Code', 'Year',
       'Period life expectancy at birth - Sex: total - Age: 0'],
      dtype='object')

In [132]:
df_new = df_new[["Entity", "Year", "Period life expectancy at birth - Sex: total - Age: 0"]]

df_new.rename(columns={"Period life expectancy at birth - Sex: total - Age: 0": "Period life expectancy"}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,Child deaths per 100 live births,GDP,Inequality Index,Median Age estimates,Median Age medium,Period life expectancy
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/urban-and-rural-population.csv")
df_new.columns

Index(['Entity', 'Code', 'Year', 'Urban population', 'Rural population'], dtype='object')

In [134]:
df_new = df_new[["Entity", "Year", "Urban population", "Rural population"]]

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,Child deaths per 100 live births,GDP,Inequality Index,Median Age estimates,Median Age medium,Period life expectancy,Urban population,Rural population
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [135]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/total-number-of-emigrants.csv")
df_new.columns

Index(['Entity', 'Year', 'Total number of emigrants'], dtype='object')

In [136]:
df_new = df_new[["Entity", "Year", "Total number of emigrants"]]

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,Child deaths per 100 live births,GDP,Inequality Index,Median Age estimates,Median Age medium,Period life expectancy,Urban population,Rural population,Total number of emigrants
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/public-health-expenditure-share-gdp.csv")
df_new.columns

Index(['Entity', 'Code', 'Year',
       'Public health expenditure as a share of GDP'],
      dtype='object')

In [138]:
df_new = df_new[["Entity", "Year", "Public health expenditure as a share of GDP"]]

df_new.rename(columns={"Public health expenditure as a share of GDP": "Healthcare expenditure (% GPD)"}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,Child deaths per 100 live births,GDP,Inequality Index,Median Age estimates,Median Age medium,Period life expectancy,Urban population,Rural population,Total number of emigrants,Healthcare expenditure (% GPD)
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/per-capita-energy-use.csv")
df_new.columns

Index(['Entity', 'Code', 'Year',
       'Primary energy consumption per capita (kWh/person)'],
      dtype='object')

In [140]:
df_new = df_new[["Entity", "Year", "Primary energy consumption per capita (kWh/person)"]]

df_new.rename(columns={"Primary energy consumption per capita (kWh/person)": "Energy used per capita"}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,...,GDP,Inequality Index,Median Age estimates,Median Age medium,Period life expectancy,Urban population,Rural population,Total number of emigrants,Healthcare expenditure (% GPD),Energy used per capita
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/share-of-land-area-used-for-agriculture.csv")
df_new.columns

Index(['Entity', 'Code', 'Year', 'Agricultural land (% of land area)'], dtype='object')

In [142]:
df_new = df_new[["Entity", "Year", "Agricultural land (% of land area)"]]

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,...,Inequality Index,Median Age estimates,Median Age medium,Period life expectancy,Urban population,Rural population,Total number of emigrants,Healthcare expenditure (% GPD),Energy used per capita,Agricultural land (% of land area)
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [143]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/prevalence-of-undernourishment.csv")
df_new.columns

Index(['Entity', 'Code', 'Year',
       '2.1.1 Prevalence of undernourishment | 000000000024000 || Value | 006121 || percent'],
      dtype='object')

In [144]:
df_new = df_new[["Entity", "Year", "2.1.1 Prevalence of undernourishment | 000000000024000 || Value | 006121 || percent"]]

df_new.rename(columns={"2.1.1 Prevalence of undernourishment | 000000000024000 || Value | 006121 || percent": "Prevalence of undernourishment"}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,...,Median Age estimates,Median Age medium,Period life expectancy,Urban population,Rural population,Total number of emigrants,Healthcare expenditure (% GPD),Energy used per capita,Agricultural land (% of land area),Prevalence of undernourishment
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [145]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/share-of-population-living-in-extreme-poverty.csv", sep=";")
df_new.columns = df_new.columns.str.strip()
df_new.columns

Index(['Entity', 'Year', 'Share below $2.15 a day'], dtype='object')

In [146]:
df_new = df_new[["Entity", "Year", "Share below $2.15 a day"]]

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,...,Median Age medium,Period life expectancy,Urban population,Rural population,Total number of emigrants,Healthcare expenditure (% GPD),Energy used per capita,Agricultural land (% of land area),Prevalence of undernourishment,Share below $2.15 a day
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/gross-national-income-per-capita-worldbank.csv")
df_new.columns = df_new.columns.str.strip()
df_new.columns

Index(['Entity', 'Code', 'Year',
       'GNI per capita, PPP (constant 2021 international $)'],
      dtype='object')

In [148]:
df_new = df_new[["Entity", "Year", "GNI per capita, PPP (constant 2021 international $)"]]

df_new.rename(columns={"GNI per capita, PPP (constant 2021 international $)": "GNI per capita"}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,...,Period life expectancy,Urban population,Rural population,Total number of emigrants,Healthcare expenditure (% GPD),Energy used per capita,Agricultural land (% of land area),Prevalence of undernourishment,Share below $2.15 a day,GNI per capita
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [149]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/gdp-per-person-employed-constant-ppp.csv")
df_new.columns = df_new.columns.str.strip()
df_new.columns

Index(['Entity', 'Code', 'Year',
       'GDP per person employed (constant 2021 PPP $)'],
      dtype='object')

In [150]:
df_new = df_new[["Entity", "Year", "GDP per person employed (constant 2021 PPP $)"]]

df_new.rename(columns={"GDP per person employed (constant 2021 PPP $)": "GDP per person employed"}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,...,Urban population,Rural population,Total number of emigrants,Healthcare expenditure (% GPD),Energy used per capita,Agricultural land (% of land area),Prevalence of undernourishment,Share below $2.15 a day,GNI per capita,GDP per person employed
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [151]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/real-gdp-growth.csv")
df_new.columns = df_new.columns.str.strip()
df_new.columns

Index(['Entity', 'Code', 'Year',
       'Gross domestic product, constant prices - Percent change - Observations',
       'Gross domestic product, constant prices - Percent change - Forecasts'],
      dtype='object')

In [152]:
df_new = df_new[["Entity", "Year", "Gross domestic product, constant prices - Percent change - Observations", "Gross domestic product, constant prices - Percent change - Forecasts"]]

df_new.rename(columns={"Gross domestic product, constant prices - Percent change - Observations": "GDP growth observation", "Gross domestic product, constant prices - Percent change - Forecasts": "GDP growth forecasts"}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,...,Total number of emigrants,Healthcare expenditure (% GPD),Energy used per capita,Agricultural land (% of land area),Prevalence of undernourishment,Share below $2.15 a day,GNI per capita,GDP per person employed,GDP growth observation,GDP growth forecasts
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/historical-gov-spending-gdp.csv")
df_new.columns = df_new.columns.str.strip()
df_new.columns

Index(['Entity', 'Code', 'Year', 'Government expenditure (% of GDP)',
       '935576-annotations'],
      dtype='object')

In [154]:
df_new = df_new[["Entity", "Year", "Government expenditure (% of GDP)"]]

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,...,Healthcare expenditure (% GPD),Energy used per capita,Agricultural land (% of land area),Prevalence of undernourishment,Share below $2.15 a day,GNI per capita,GDP per person employed,GDP growth observation,GDP growth forecasts,Government expenditure (% of GDP)
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [155]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/share-of-education-in-government-expenditure.csv")
df_new.columns = df_new.columns.str.strip()
df_new.columns

Index(['Entity', 'Code', 'Year',
       'Government expenditure on education, total (% of government expenditure)'],
      dtype='object')

In [156]:
df_new = df_new[["Entity", "Year", "Government expenditure on education, total (% of government expenditure)"]]

df_new.rename(columns={"Government expenditure on education, total (% of government expenditure)": "Government expenditure on education (% of GDP)"}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,...,Energy used per capita,Agricultural land (% of land area),Prevalence of undernourishment,Share below $2.15 a day,GNI per capita,GDP per person employed,GDP growth observation,GDP growth forecasts,Government expenditure (% of GDP),Government expenditure on education (% of GDP)
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [157]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/state-capacity-index.csv")
df_new.columns = df_new.columns.str.strip()
df_new.columns

Index(['Entity', 'Code', 'Year', 'State capacity estimate'], dtype='object')

In [158]:
df_new = df_new[["Entity", "Year", "State capacity estimate"]]

#df_new.rename(columns={"": ""}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,...,Agricultural land (% of land area),Prevalence of undernourishment,Share below $2.15 a day,GNI per capita,GDP per person employed,GDP growth observation,GDP growth forecasts,Government expenditure (% of GDP),Government expenditure on education (% of GDP),State capacity estimate
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [159]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/functioning-government-index-eiu.csv")
df_new.columns = df_new.columns.str.strip()
df_new.columns

Index(['Entity', 'Code', 'Year', 'Functioning government'], dtype='object')

In [160]:
df_new = df_new[["Entity", "Year", "Functioning government"]]

#df_new.rename(columns={"": ""}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,...,Prevalence of undernourishment,Share below $2.15 a day,GNI per capita,GDP per person employed,GDP growth observation,GDP growth forecasts,Government expenditure (% of GDP),Government expenditure on education (% of GDP),State capacity estimate,Functioning government
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/political-corruption-index.csv")
df_new.columns = df_new.columns.str.strip()
df_new.columns

Index(['Entity', 'Code', 'Year',
       'Political corruption index (best estimate, aggregate: average)'],
      dtype='object')

In [162]:
df_new = df_new[["Entity", "Year", "Political corruption index (best estimate, aggregate: average)"]]

df_new.rename(columns={"Political corruption index (best estimate, aggregate: average)": "Political corruption index"}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,...,Share below $2.15 a day,GNI per capita,GDP per person employed,GDP growth observation,GDP growth forecasts,Government expenditure (% of GDP),Government expenditure on education (% of GDP),State capacity estimate,Functioning government,Political corruption index
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.428
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.428
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.428
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.428
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.428

In [163]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/rule-of-law-index.csv")
df_new.columns = df_new.columns.str.strip()
df_new.columns

Index(['Entity', 'Code', 'Year',
       'Rule of Law index (best estimate, aggregate: average)'],
      dtype='object')

In [164]:
df_new = df_new[["Entity", "Year", "Rule of Law index (best estimate, aggregate: average)"]]

df_new.rename(columns={"Rule of Law index (best estimate, aggregate: average)": "Rule of Law index"}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,...,GNI per capita,GDP per person employed,GDP growth observation,GDP growth forecasts,Government expenditure (% of GDP),Government expenditure on education (% of GDP),State capacity estimate,Functioning government,Political corruption index,Rule of Law index
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.428,0.393
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.428,0.393
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.428,0.393
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.428,0.393
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.428,0.393

In [165]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/landline-internet-subscriptions.csv")
df_new.columns = df_new.columns.str.strip()
df_new.columns

Index(['Entity', 'Code', 'Year', 'Fixed broadband subscriptions'], dtype='object')

In [166]:
df_new = df_new[["Entity", "Year", "Fixed broadband subscriptions"]]

df_new.rename(columns={"Fixed broadband subscriptions": "Internet availability"}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,...,GDP per person employed,GDP growth observation,GDP growth forecasts,Government expenditure (% of GDP),Government expenditure on education (% of GDP),State capacity estimate,Functioning government,Political corruption index,Rule of Law index,Internet availability
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.428,0.393,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.428,0.393,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.428,0.393,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.428,0.393,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.428,0.393,NaN

In [167]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/happiness-cantril-ladder.csv")
df_new.columns = df_new.columns.str.strip()
df_new.columns

Index(['Entity', 'Code', 'Year', 'Cantril ladder score'], dtype='object')

In [168]:
df_new = df_new[["Entity", "Year", "Cantril ladder score"]]

df_new.rename(columns={"Cantril ladder score": "Happiness & Life-satisfaction"}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,...,GDP growth observation,GDP growth forecasts,Government expenditure (% of GDP),Government expenditure on education (% of GDP),State capacity estimate,Functioning government,Political corruption index,Rule of Law index,Internet availability,Happiness & Life-satisfaction
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.428,0.393,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.428,0.393,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.428,0.393,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.428,0.393,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.428,0.393,NaN,NaN

In [169]:
# Присоединяем новую табличку
df_new = pd.read_csv("data_csv/military-spending-as-a-share-of-gdp-sipri.csv")
df_new.columns = df_new.columns.str.strip()
df_new.columns

Index(['Entity', 'Code', 'Year', 'Military expenditure (% of GDP)'], dtype='object')

In [170]:
df_new = df_new[["Entity", "Year", "Military expenditure (% of GDP)"]]

#df_new.rename(columns={"Cantril ladder score": "Happiness & Life-satisfaction"}, inplace=True)

df_merged = pd.merge(df_merged, df_new, on=["Entity", "Year"], how="left")
df_merged.head()

,Entity,Code,Year,Civil liberties index,Taxes (% GDP),"GDP/capita, $",Population,Average years of education,"Meat, kg/year/capita",Deaths in ongoing conflicts,...,GDP growth forecasts,Government expenditure (% of GDP),Government expenditure on education (% of GDP),State capacity estimate,Functioning government,Political corruption index,Rule of Law index,Internet availability,Happiness & Life-satisfaction,Military expenditure (% of GDP)
0,Afghanistan,AFG,1789,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.428,0.393,NaN,NaN,NaN
1,Afghanistan,AFG,1790,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.428,0.393,NaN,NaN,NaN
2,Afghanistan,AFG,1791,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.428,0.393,NaN,NaN,NaN
3,Afghanistan,AFG,1792,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.428,0.393,NaN,NaN,NaN
4,Afghanistan,AFG,1793,0.112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.428,0.393,NaN,NaN,NaN

In [171]:
# Сохраняем в новый csv
df_merged.to_csv("data_csv/dataset.csv", index=False)

In [ ]:
# Продолжить присоединять признаки и колоночки
# Добавить потом буллены по событиям
# Чистить данные, посмотреть корреляции, убрать строки по континентам